name: Bump Version

on:
  workflow_dispatch:
    inputs:
      part:
        description: "The part of the version to bump (major, minor, or patch)"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install toml-cli
        run: cargo install toml-cli

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install semver
        run: npm install -g semver

      - name: Bump version
        id: bump_version
        run: |
          current_version=$(toml get Cargo.toml package.version | tr -d '"')
          new_version=$(semver -i ${{ github.event.inputs.part }} $current_version)
          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: Update Cargo.toml
        run: |
          toml set Cargo.toml package.version ${{ steps.bump_version.outputs.new_version }}
          toml set Cargo.toml package.metadata.nih-plug.clap.version ${{ steps.bump_version.outputs.new_version }}

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: bump version to ${{ steps.bump_version.outputs.new_version }}"
          tagging_message: "v${{ steps.bump_version.outputs.new_version }}"
